{% extends 'base.html' %}

{% block title %}
    B Diary
{% endblock %}

{% block header %}
    B Diary
{% endblock %}

{% block content %}
<style>
    .table-no-border th, .table-no-border td{
        border-top:none;
        padding-top:5px;
        padding-bottom:5px;
    }
</style>
<div class="card card-outline card-primary">
    <div class="card-header">
        <a href="{% url 'case_list' %}" class="btn btn-info float-right"><i class="fa fa-arrow-left mr-2"></i>Back</a>
        <div class="text-center">
            <span class="text-primary text-center"><strong>{{ case.regcase_type.type_name }}/{{ case.reg_no }}/{{ case.reg_year }}  -  {{ case.cino }}</strong></span>
            <p style="font-weight:bold">{{ case.pet_name }} <br>
                <span class="text-danger">Vs</span> <br>
                {{ case.res_name }}
            </p>
        </div>
    </div>
    <div class="card-body p-2">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-no-border">
                    <tr>
                        <th>Petitioner&nbsp;Advocate</th>
                        <td>:</td>
                        <td>{{ case.pet_adv }}</td>
                        <th width="1">Respondent&nbsp;Advocate</th>
                        <td>:</td>
                        <td>{{ case.res_adv }}</td>
                    </tr>
                    <tr>
                        <th>PreviousHearing:</th>
                        <td>:</td>
                        <td colspan="4">{{ previous.todays_date | date:"d-m-Y" }}</td>
                    </tr>
                    <tr>
                        <th>Previous Diary</th>
                        <td>:</td>
                        <td colspan="4">{{ previous.order_remark }}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row mt-2 p-1" style="min-height:700px">
            <div class="col-md-3">
                <div class="list-group p-1">
                    <a href="#" class="list-group-item">B Diary</a>
                    <a href="#" class="list-group-item">Case History</a>
                    <a href="#" class="list-group-item">Plaint</a>
                    <a href="#" class="list-group-item">Vakalat</a>
                    <a href="#" class="list-group-item">Document 1</a>
                    <a href="#" class="list-group-item">Docuemnt 2</a>
                    <a href="#" class="list-group-item">Document 3</a>
                </div>
            </div>
            <div class="col-md-9 p-2">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr class="bg-secondary">
                            <td>Registration Number</td>
                            <td>Judge</td>
                            <td>Business on Date</td>
                            <td>Hearing Date</td>
                            <td>Purpose of Hearing</td>
                        </tr>
                    </thead>
                    <tbody>
                        {%  for d in diaries %}
                        <tr>
                            <td>{{ d.case_no.reg_no }}/{{ d.case_no.reg_year }}</td>
                            <td>{{ d.case_no.desig_code.desgname }}</td>
                            <td><a href="{% url 'view_diary' d.case_no.case_no d.srno %}">{{ d.todays_date | date:"d-m-Y" }}</a></td>
                            <td>{{ d.next_date | date:"d-m-Y" }}</td>
                            <td>{{ d.purpose_code.purpose_name }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}

  
{% endblock %}


















